/* line 14, C:/xampp/htdocs/wmedia/css/styles.sass */
body {
  font-family: 'Athiti', sans-serif; }

/* line 17, C:/xampp/htdocs/wmedia/css/styles.sass */
.navbar {
  height: 85px;
  background-color: #f4f4f3;
  margin-bottom: 0;
  z-index: 3; }

/* line 23, C:/xampp/htdocs/wmedia/css/styles.sass */
.navbar-toggle {
  margin-top: 25px; }

/* line 26, C:/xampp/htdocs/wmedia/css/styles.sass */
.navbar-toggle .icon-bar {
  background-color: #000; }

/* line 29, C:/xampp/htdocs/wmedia/css/styles.sass */
.collapse.in, .collapsing {
  position: relative;
  background-color: #f4f4f3;
  z-index: 2; }

/* line 34, C:/xampp/htdocs/wmedia/css/styles.sass */
.container > .navbar-collapse {
  margin-right: -16px;
  margin-left: -16px; }

/* line 38, C:/xampp/htdocs/wmedia/css/styles.sass */
.navbar-brand {
  height: 85px;
  padding: 27px 15px; }

/* line 42, C:/xampp/htdocs/wmedia/css/styles.sass */
.nav li.active > a {
  color: #000;
  border-bottom: 3px solid #000;
  pointer-events: none; }

/* line 47, C:/xampp/htdocs/wmedia/css/styles.sass */
.nav li a {
  margin: 30px 30px;
  padding: 0 7px 2px 7px;
  color: #c0a92b;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700; }

/* line 55, C:/xampp/htdocs/wmedia/css/styles.sass */
.nav li a:hover, .nav li a:active {
  background-color: transparent;
  color: #000;
  border-bottom: 3px solid #000; }

/* line 60, C:/xampp/htdocs/wmedia/css/styles.sass */
.nav li .infoline {
  margin: 29px 30px 32px 55px;
  font-size: 16px; }

/* line 64, C:/xampp/htdocs/wmedia/css/styles.sass */
.nav li .infoline a {
  margin: 0 30px 0 0;
  color: #7895a4; }

/* line 68, C:/xampp/htdocs/wmedia/css/styles.sass */
.nav li .infoline a:hover, .nav li .infoline a:active {
  color: #000;
  text-decoration: none;
  padding-bottom: 0; }

/* line 73, C:/xampp/htdocs/wmedia/css/styles.sass */
.jumbotron {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  height: 580px; }

/* line 78, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator {
  padding: 0 80px; }

/* line 81, C:/xampp/htdocs/wmedia/css/styles.sass */
.rangeslider {
  background: #000; }

/* line 84, C:/xampp/htdocs/wmedia/css/styles.sass */
.rangeslider--horizontal {
  height: 4px; }

/* line 87, C:/xampp/htdocs/wmedia/css/styles.sass */
.rangeslider--horizontal .rangeslider__fill {
  border-radius: 0px;
  height: 4px;
  background: #c0a92b; }

/* line 92, C:/xampp/htdocs/wmedia/css/styles.sass */
.rangeslider__handle, .rangeslider__handle:active {
  border: 3px solid #c0a92b;
  border-radius: 0px;
  width: 143px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #c0a92b;
  -webkit-box-shadow: 2px 2px 0px 0 black;
  -moz-box-shadow: 2px 2px 0px 0 black;
  box-shadow: 2px 2px 0px 0 black;
  background-image: url(../img/slider_bg.png); }

/* line 107, C:/xampp/htdocs/wmedia/css/styles.sass */
.rangeslider__handle:after {
  content: none; }

/* line 110, C:/xampp/htdocs/wmedia/css/styles.sass */
.rangeslider--horizontal .rangeslider__handle {
  top: -17px; }

/* line 113, C:/xampp/htdocs/wmedia/css/styles.sass */
.slider {
  padding-bottom: 60px; }

/* line 116, C:/xampp/htdocs/wmedia/css/styles.sass */
.slider-header {
  padding-bottom: 75px; }

/* line 119, C:/xampp/htdocs/wmedia/css/styles.sass */
.slider-header img {
  margin-left: -23px;
  padding-right: 13px;
  vertical-align: baseline; }

/* line 124, C:/xampp/htdocs/wmedia/css/styles.sass */
.slider-header span {
  font-weight: 700; }

/* line 127, C:/xampp/htdocs/wmedia/css/styles.sass */
.slider-body p {
  margin-top: -45px;
  font-size: 16px;
  font-weight: 400; }

/* line 132, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator table span {
  font-size: 16px;
  font-weight: 700;
  color: #c0a92b; }

/* line 137, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator table {
  width: 100%;
  text-transform: uppercase; }

/* line 141, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator-table {
  width: 200px; }

/* line 144, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator .calculator-table .no-padding {
  padding-left: 0; }

/* line 147, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator table .font-xl {
  font-size: 24px;
  padding: 0 0 18px 0;
  margin-top: -6px; }

/* line 152, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator table .font-xs {
  position: absolute;
  left: 215px;
  margin-top: 5px;
  font-size: 11px; }

/* line 158, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator-table p.font-xs {
  font-size: 11px;
  text-align: center;
  margin-top: -10px; }

/* line 163, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator table .border-br {
  border-bottom: 1px solid #c0a92b;
  border-right: 1px solid #c0a92b;
  padding: 0 20px 5px 15px; }

/* line 168, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator table .border-b {
  border-bottom: 1px solid #c0a92b;
  padding-top: 5px; }

/* line 172, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator th {
  font-size: 12px;
  font-weight: 500; }

/* line 176, C:/xampp/htdocs/wmedia/css/styles.sass */
.calculator .cta {
  width: 230px;
  height: 80px;
  background: #7895a4;
  border: 7px solid #c0a92b;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 18px; }

/* line 186, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info {
  padding-bottom: 70px; }

/* line 189, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info .icon {
  display: block;
  margin: 0 auto; }

/* line 193, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info .icon-text {
  padding: 25px 50px 0 50px; }

/* line 196, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info h2 {
  text-transform: uppercase; }

/* line 199, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info h2, .promo-info p {
  color: #cab761; }

/* line 202, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info h2, .promo-info p, .disclaimer p {
  font-weight: 300; }

/* line 205, C:/xampp/htdocs/wmedia/css/styles.sass */
.promo-info h2, .promo-info p, .disclaimer span, .disclaimer p {
  text-align: center;
  text-align-last: center; }

/* line 209, C:/xampp/htdocs/wmedia/css/styles.sass */
.skewed-bg--white {
  background: #fff;
  height: 555px;
  -webkit-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
  padding: 50px 0;
  margin-top: -28px; }

/* line 212, C:/xampp/htdocs/wmedia/css/styles.sass */
.skewed-bg--grey {
  background: #f2f2f2;
  height: 100%;
  -webkit-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
  padding: 50px 0;
  margin-top: -28px; }

/* line 215, C:/xampp/htdocs/wmedia/css/styles.sass */
.skewed-content {
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg); }

/* line 219, C:/xampp/htdocs/wmedia/css/styles.sass */
.disclaimer {
  background-color: #f2f2f2;
  padding: 0 30px; }

/* line 223, C:/xampp/htdocs/wmedia/css/styles.sass */
.disclaimer span {
  font-weight: 700; }

/* line 226, C:/xampp/htdocs/wmedia/css/styles.sass */
.disclaimer p, .disclaimer span {
  color: #666; }

/* line 229, C:/xampp/htdocs/wmedia/css/styles.sass */
footer {
  text-align: center;
  padding-top: 100px; }

/* line 233, C:/xampp/htdocs/wmedia/css/styles.sass */
footer p, footer div {
  display: inline-block; }

/* line 236, C:/xampp/htdocs/wmedia/css/styles.sass */
footer p.font-xs {
  font-size: 12px; }

/* line 239, C:/xampp/htdocs/wmedia/css/styles.sass */
.footer-contact {
  padding-right: 180px; }

/* line 242, C:/xampp/htdocs/wmedia/css/styles.sass */
.social i {
  color: #cab761;
  padding: 0 0 25px 10px; }

@media (max-width: 991px) {
  /* line 248, C:/xampp/htdocs/wmedia/css/styles.sass */
  .nav li a {
    margin: 30px 10px; }
  /* line 250, C:/xampp/htdocs/wmedia/css/styles.sass */
  .nav li .infoline {
    margin: 29px 0 32px 35px; } }

@media (max-width: 767px) {
  /* line 254, C:/xampp/htdocs/wmedia/css/styles.sass */
  .nav li .infoline {
    margin: 29px 0 32px 16px; }
  /* line 256, C:/xampp/htdocs/wmedia/css/styles.sass */
  .nav li a:hover {
    margin-bottom: -2px; }
  /* line 258, C:/xampp/htdocs/wmedia/css/styles.sass */
  .skewed-bg--white {
    margin-top: -10px; } }

@media (max-width: 707px) {
  /* line 262, C:/xampp/htdocs/wmedia/css/styles.sass */
  .calculator {
    padding: 0 50px; }
  /* line 264, C:/xampp/htdocs/wmedia/css/styles.sass */
  .calculator .cta {
    width: 200px;
    height: 65px; }
  /* line 267, C:/xampp/htdocs/wmedia/css/styles.sass */
  .calculator table .font-xs {
    left: 185px; } }

@media (max-width: 600px) {
  /* line 271, C:/xampp/htdocs/wmedia/css/styles.sass */
  .jumbotron {
    height: 680px; }
  /* line 273, C:/xampp/htdocs/wmedia/css/styles.sass */
  .skewed-bg--white {
    height: 635px; } }

/*# sourceMappingURL=styles.css.map */